.dayPickerContainer {
  background-color: #444;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  padding: 20px;
  color: white;
  display: none;

}

.btnActive {
  text-decoration: underline;
}

.show-custom-day-picker {
  display: inline-block;
}
