.relative-time-div{
  margin: 16px;
  height: 40px;
}


.relative-time {
  width: 40px;
  height: 40px;
  // display: inline-block;

  // padding: 16px;
  border: 1px solid;
  border-radius: 5px;
  margin: 8px;
}

.type {
  display: inline-block;
  width: 60px;
}
