.button {
  padding: 10px;
  cursor: pointer;
  list-style: none;
  display: inline-block;
  &:hover {
    color: #28b5e1;
  }

}
.btnActive {
  color: #28b5e1;
}

.container {
  padding: 8px;
  // float: right;
}
