.button {
  margin-right: 20px;
  margin-bottom: 16px;
  cursor: pointer;
  list-style: none;
  display: inline-block;
  &:hover {
    color: #28b5e1;
  }

}
.btnActive {
  color: #28b5e1;
}

.container {
  padding: 8px;
  // float: right;
}
